@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700,800");
@import url("https://fonts.googleapis.com/css?family=Work+Sans");

#authForm{
    background-color: white;
    margin: 100px;
    padding: 10px;
    display: inline-block;
}

#authForm h1{
    color: black;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

#authForm input{
    display: block;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    font-family: Work Sans, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

