@import url("https://fonts.googleapis.com/css?family=Montserrat:700,800");
@import url("https://fonts.googleapis.com/css?family=Work+Sans");

*{
    margin: 0;
    padding: 0;
}

#main{
    margin: 25px;
    margin-bottom: 50px;
}

h1, h2, h3{
    font-family: Montserrat, Arial, Helvetica, sans-serif;
}

.inputList{
    box-sizing: border-box;
}

.inputList input{
    display: block;
    font-family: Work Sans, Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    border: 2px solid #4b92fb;
    border-radius: 12.5px;
    outline: none;
    padding: 2px;
    margin-top: 5px;
}

.emailInput, .restrictionsInput{
    margin-left: 25px;
}

.restrictionsInput{
    margin-top: 5px;
    border-radius: 12.5px;
    padding: 2px;
    height: 10vh;
    outline: none;
}

.mainHeader{
    text-align: center;
}

.inputForm{
    display: inline-block;
}

.addButton{
    display: block;
    margin: auto;
    cursor: pointer;
}

.error{
    font-family: Work Sans, Arial, Helvetica, sans-serif;
    color: #ff0000;
    max-width: fit-content;
}

.redButton{
    margin-top: 25px;
	box-shadow: inset 0px 39px 0px -24px #e67a73;
	background-color: #e4685d;
    border-radius: 20px;
    border: none;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 20px;
	padding: 9px 13px;
	text-decoration :none;
}

.redButton:hover{
	background-color: #eb675e;
}

.redButton:active{
	position: relative;
	top: 5px;
}