@import url("https://fonts.googleapis.com/css?family=Work+Sans");

*{
    margin: 0;
    padding: 0;
}

ul{
    display: inline-block;
    padding: 25px;
    list-style-position: inside;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #D3D3D3;
    font-family: Work Sans, Arial, Helvetica, sans-serif;
}

li span{
    position: relative;
    left: -10px;
}

.redButton{
    display: block;
    margin: 5px;
}