@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700,800");

* {
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

body{
    background-color: #e4685d;
}

#main{
    width: 80%;
    text-align: center;
    font-family: Montserrat, Arial, Helvetica, sans-serif;
    color: white;
    position: absolute;
    top: 40%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

#main > h1{
    margin-bottom: 50px;
}

#main > p{
    margin-top: 25px;
}

#main > p > a{
    color: white;
}
