<!DOCTYPE html>
<html>
    <head>
        <meta name="keywords" content="Secret Santa, Secret Santa Organizer">
        <meta name="description" content="Organize Secret Santa with an website that automatically handles everything for you!">
        <meta name="og:title" content="Secret Santa Organizer">
        <meta name="og:description" content="Organize Secret Santa with an website that automatically handles everything for you!">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <title>Secret Santa Organizer</title>

        <!-- Icons -->
        <script src="https://kit.fontawesome.com/8fbeccc6cb.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="{{ url_for('static', filename='css/utils.css') }}?v=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/secret_santa.css') }}?v=1.0.1">
        
        <script src="{{ url_for('static', filename='js/input.js') }}?v=1.2"></script>

        <script>
            onload = function(){
                addOrganizer();
                addParticipant();
            }
        </script>
    </head>

    <body>
        <div id="main">
            <h1 class="mainHeader">Secret Santa Organizer</h1>

            <form id="secretSanta" class="inputForm" method="POST">
                <div class="inputList">
                    <input required type="text" name="title" placeholder="Group Title" maxlength="50">
                </div>

                <h3>Organizers</h3>
                <input type="hidden" name="formName" value="organizers">

                <div id="organizers" class="inputList">

                </div>

                <i onclick="addOrganizer();" class="addButton fas fa-plus fa-2x"></i>

                <h3>Participants</h3>
                <input type="hidden" name="formName" value="participants">

                <div id="participants" class="inputList">

                </div>

                <i onclick="addParticipant();" class="addButton fas fa-plus fa-2x"></i>

                <input class="redButton" name="generate" type="submit" value="Generate">
                <p class="info">
                    <i class="fas fa-info-circle"></i>
                    Saves your group and takes you to the dashboard where you can send the emails.
                </p>
            </form>
        </div>
    </body>
</html>