{% extends "layout.html" %}

{% block head %}
<title>Sign Up</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/utils.css') }}?v=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/fill_page.css') }}?v=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/auth.css') }}?v=1.0">

<script src="{{ url_for('static', filename='js/validate.js') }}?v=1.1"></script>
{% endblock %}

{% block content %}
<div id="main">
    <div id="authForm">
        <h1>Sign Up</h1>
        <form method="post">
            <input required type="text" name="email" placeholder="Email" maxlength="200">
            <input required id="password" type="password" name="password" placeholder="Password" minlength="8" maxlength="72" oninput="validatePass();">
            <input required id="confirmPassword" type="password" name="confirmPassword" placeholder="Confirm Password" minlength="8" maxlength="72" oninput="validatePass();">
            <p class="info">
                <i class="fas fa-info-circle"></i>
                Passwords must be at least 8 characters.
            </p>
            <input disabled id="submit" type="submit" name="signUp" value="Sign Up">
        </form>
    </div>
</div>
{% endblock %}
